// # SHORT HOWTO
// ## Sprites
//     .whatever{
//         @include sized-sprite($icons, badge_hit); //or
// 	@include s(badge_hit); //gets default value for spritemap as $icons
//     }
// ### animation example
//     @include keyframes(rotate) {
//        from {
//           @include rotate(0);
//        }
//        to {
//           @include rotate(360);
//         }
//     }
// ## animation usage
//     body:hover{
// 	    @include animation(rotate 200s linear infinite);
//     }
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in);
// ## gradient example
//     @include background-image(linear-gradient(#232323, #5c5c5c));
// ## making bw-images
//     img{@extend %gray;}
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     @min-screen(320){ css goes here}
// @max-screen(1000), @iphone5, @iphone4, @ipad-retina, @ipad, @hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3 {
//       .item-#{$i} { width: 2em * $i; }
//     }
//     @each $s in a,b,c{
// 	    #{$s}
//     }
// BTW these comments will not render into css
// for awesomeness use .🍺 class. Example:
// .🍺{beer:everything}

//*{-webkit-transition: .3s all;}

*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	background: #333;
	font: {
		family: "Lucida Sans", "Myriad Pro",sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
	overflow:hidden;
}
@font-face {
	font-family: 'cpmono';
	src: url('fonts/cpmono_v07_plain-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	&:hover{

	}
}
%button{
	color: #cbcbcb;
	color: #8F8F8F;
	font-size: 12px;
	//@include text-shadow(0 -1px 1px #000);
	height: 23px;
	line-height: 24px;
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #000;
	cursor: pointer;
	@include background-image(linear-gradient(top, #424242 0%, #3B3B3B 15%, #343434 85%,  #282828 100%)); 
	&:hover{
		//@include background-image(linear-gradient(bottom, darken(#717171,10%) 0%, darken(#282828,10%) 100%));
	}
	&:active, &.is-pressed, &.is-active{
		//@include background-image(linear-gradient(bottom, darken(#717171,10%) 0%, darken(#282828,10%) 100%));
		//@include background-image(linear-gradient(bottom, #282828 0%, #717171 100%));
		@include background-image(linear-gradient(bottom, #424242 0%, #3B3B3B 15%, #292929 85%,  #1A1A1A 100%)); 
		color: #606060;
		text-shadow: none;
	}
}
%button-alt{
	@extend %button;
	@include background-image(linear-gradient(bottom, #282828 0%, #717171 100%));
	&:hover{
		@include background-image(linear-gradient(bottom, darken(#282828,10%) 0%, darken(#717171,10%) 100%));
	}
	&:active{
		@include background-image(linear-gradient(bottom, #717171 0%, #282828 100%));
	}
}
%input{
	width: 100%;
	height: 28px;
	@include box-sizing(border-box);
	padding: 7px 8px 0 8px;
	color: #777;
	@include placeholder-color(777);
	border: 1px solid #444;
	background: #363636;
	box-shadow:inset 1px 1px 3px rgba(#000,0.3);
	overflow: hidden;
	&:focus{
		color: #ccc;
		outline:none;
	}
}
%smalldrop{
	cursor: default;
	position: absolute;
	right: 0;
	top: 12px;
	width: 163px;
	background: #363636;
	border: 1px solid #000;
	box-shadow:0 0 10px rgba(#000,0.6);
	color: #ccc;
	dt{
		padding: 4px 9px;
		color: #ccc;
		background: #252525;
	}
	dd{
		padding: 4px 9px;
		cursor: pointer;
		&:hover{
			background: #252525;
		}
	}
}
.icon-online{
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background: #8fc547;
	display: inline-block;
	margin-left: 3px;
}
.icon-offline{
	@extend .icon-online;
	background: #898989;
}
input[type='range']{
	-webkit-appearance:none; -moz-apperance:none;
	height: 4px;
	width: 200px;
	border: 1px solid #444444;
	border-radius: 4px;
	@include background-image(linear-gradient(bottom, #151515 0%, #2E2E2E 100%));
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		@include background-image(linear-gradient(bottom, #565656 0%, #161616 100%));
		border: 1px solid #8D8D8D;
	}
}