html,body{
	height: 100%;
	position: relative;
}
$width: 322px;
$bottom: 222px;
// layout
.icon-info{
	@include s(infoicon);
	display: inline-block;
}
.rough{
	position: absolute;
	bottom: 0;
	top: 33px;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #212121;
	.rough__full{
		right: 0;
		position: absolute;
		top: 9px;
		text-align: right;
		.rough__fullicon{
			display: inline-block;
			@include s(fullscreen);
			margin-right: 14px;
			cursor: pointer;
			vertical-align: middle;
		}
		i{
			@include s(rr);
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			&.is-active{
				@include transform(rotate(180deg));
			}
		}
	}
	.rough__left{
		position: absolute;
		left: -($width);
		top: 0;
		bottom: $bottom;
		width: $width;
		background: #333333;
		@include transition(all .3s ease-in-out);
		border-right: 1px solid #464646;
		box-shadow: 10px 0 10px rgba(#000, .2);
		overflow: auto;
	}
	.rough__right{
		position: absolute;
		right: -($width);
		width: $width;
		bottom: $bottom;
		top: 0;
		background: #333333;
		@include transition(all .3s ease-in-out);
		border-left: 1px solid #464646;
		box-shadow: -10px 0 10px rgba(#000, .2);
		overflow: auto;
	}
	.rough__content{
		position: absolute;
		bottom: $bottom;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		background: #212121;

		@include transition(all .3s ease-in-out);
		.rough__contentv{
			height: 100%;
			width: 100%;
			display: table;
			img{
				
			}
		}
		.rough__contentv1{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
	&.is-withleft{
		left: 0;
		.rough__left{
			left: 0;
		}
		.rough__content{
			left: 0;
		}
		.rough__content{
			left: $width;
		}
	}
	&.is-withright{
		.rough__right{
			right: 0;
		}
		.rough__content{
			right: $width;
		}
		.rough__full{
			right: $width;
		}
	}

}


// for debug only
.rough__content img{
	display: block;
	width: 100%;
	margin-top: 20px;
}


// files
// ===========================
.rough__left{
	padding: 10px;
	@include box-sizing(border-box);
}
.searchbox{
	padding: 0 0 15px 0;
	width: 100%;
	@include box-sizing(border-box);
	input{
		width: 100%;
		display: block;
		box-shadow: inset 0 3px 3px rgba(#000, .6);
		border: 1px solid #000;
		padding: 4px;
		border-radius: 10px;
	}
}

.rfiles{
	.rfiles__head{
		font-size: 11px;
		text-transform: uppercase;
		color: #aaaaaa;
		font-weight: normal;
		margin-bottom: 10px;
		i{
			@include s(fileicon);
			vertical-align: middle;
			margin-right: 6px;
			display: inline-block;
			position: relative;
			top: -2px;
		}
	}
	.rfiles__nav{
		float: right;
		width: 190px;
		text-align: right;
		position: relative;
		top: -3px;
		a{
			color: #777777;
			font-size: 12px;
			text-decoration: underline;
			margin-right: 6px;
			vertical-align: middle;
		}
		.rfiles__viewlist, .rfiles__viewgrid{
			display: inline-block;
			border: 1px solid #202020;
			@include background-image(linear-gradient( #484848, #2E2E2E));
			vertical-align: middle;
			width: 33px;
			height: 16px;
			padding-top: 2px;
			text-align: center;
			cursor: pointer;
			&.is-active, &:hover{
				@include background-image(linear-gradient( #2E2E2E, #484848));
			}
			i{
				display: inline-block;
			}
		}
		.rfiles__viewgrid{
			border-left: none;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			i{
				@include s(viewgrid);
				position: relative;
				top: -1px;
			}
		}
		.rfiles__viewlist{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			i{
				@include s(viewlist);
			}
		}
	}
	&.is-fileview{
		.rfile{
			display: inline-block;
			vertical-align: top;
			width: 31%;
			text-align: center;
			border-style: none;
			padding-bottom: 14px;
			padding-right: 2%;
			@include box-sizing(border-box);
			.rfile__pic img,.rfile__meta{
				display: none;
			}
			.rfile__title{
				@include prevent-text();
				max-height: 3em;
				overflow: hidden;
				white-space: normal;
				text-align: left;
			}
			.rfile__length{
				float: none;
				width: auto;
				display: block;
				text-align: left;
			}
			.rfile__pic{
				display: inline-block;
				position: relative;
			}
			&.is-videofile{
				.rfile__pic{
					@include s(rvideo);
				}
				&:hover{
					.rfile__pic{
						@include s(rvideoh);
					}
				}
			}
			&.is-audiofile{
				.rfile__pic{
					@include s(raudio);
				}
				&:hover{
					.rfile__pic{
						@include s(raudioh);
					}
				}
			}
		}
	}
}
.rfile{
	border-bottom: 1px solid #424242;
	padding-bottom: 13px;
	margin-top: 13px;
	.rfile__pic{
		margin-bottom: 6px;

		img{
			display: block;
			-webkit-mask-image: url('../img/mask.png');
			-webkit-mask-repeat: no-repeat;
			border: 1px solid yellow;
		}
	}
	.rfile__title, .rfile__filename{
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		color: #fbfbfb;
		font-size: 11px; 
		white-space:nowrap;
	}
	.rfile__length{
		float: right;
		font-size: 11px;
		color: #cccccc;
	}
	.rfile__meta{
		font-size: 11px;
		margin-top: 2px;
		color: #999;
		padding-left: 19px;
		position: relative;
		&:before{
			content: ' ';
			@include s(infoicon);
			position: absolute;
			left: 0;
			top: 1px;
		}
		span{
			margin-right: 10px;
		}
	}
	&.rfile_alt{
		.rfile__length{
			color: #ccc;
		}
		.rfile__title{
			color: #fff;
		}
		.rfile__filename{
			color: #999999;
		}
		.rfile__pic{
			margin-right: -10px;
			height: 40px;
			img{
				box-shadow:0 0 4px rgba(#000, .3);
				display: block;
				width: 100%;
			}
		}
	}
}
.sublist{
	padding-bottom: 10px;
	.sublist__title{
		font-size: 16px;
		font-weight: normal;
		color: #ffffff;
		margin-bottom: 15px;
		text-shadow: 0 1px 0 black;
		-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%)
	}
	input.sublist__title{
		background: transparent;
		padding: 4px;
		display: block;
		width: 100%;
		position: relative;
		left: -5px;
		@include box-sizing(border-box);
		border: 1px solid #444444;
		box-shadow:inset -2px 2px 2px rgba(#000, .2);
	}
	.sublist__back{
		i{
			@include s(back);
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;
			opacity: .7;
		}
		color: #777777;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 5px;
	}
	.cut__icons{
		margin-bottom: 0;
	}
}
// cut lists
// ===========================
.rough__right{
	padding: 10px;
	@include box-sizing(border-box);
}
.icon-mycut{
	display: inline-block;
	@include s(mycut);
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.icon-sharedcut{
	display: inline-block;
	@include s(sharedcut);
	margin-right: 3px;
	position: relative;
	top: 2px;
}
.cutlist{
	border-bottom: 2px solid #484848;
	margin-bottom: 7px;
	position: relative;
	.cutlist__header{
		font-size: 11px;
		color: #aaa;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	.cutlist__toggle{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		@include s(cutmin);
		top: 5px;
		cursor: pointer;
		opacity: .5;
		margin-top: 3px;
		&.is-active{
			@include s(cutplus);
			margin-top: 0;
		}
		&:hover{
			opacity: 1;
		}
	}
}
.cut{
	margin-bottom: 18px;
	.cut__title{
		font-size: 16px;
		font-weight: normal;
		color: #ffffff;
		margin-bottom: 15px;
		text-shadow: 0 1px 0 black;
		-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%)
	}
	.cut__pics{
		position: relative;
		height: 73px;
		margin-right: -10px;
		img{
			position: absolute;
			left: 0;
			top: 0;
			box-shadow:0 0 6px rgba(#000, 1);
			display: block;
			z-index: 10;
		}
		img+ img{
			@include transform(rotate(3deg));
			z-index: 9;
		}
		img+img+img{
			z-index: 8;
			@include transform(rotate(-4deg));
			left: -4px;
		}
	}
	.cut__created{
		text-align: right;
		color: #777;
		font-size: 11px;
		display: block;
		padding-left: 30%;
		margin-top: 7px;
	}
}
.cut__icons{
	font-size: 11px;
	color: #acacac;
	text-shadow: 0 -1px 1px rgba(#000, .4);
	margin: -10px 0 20px;
	div{
		display: inline-block;
		cursor: pointer;
		margin-right: 14px;
	}
	i{
		display: inline-block;
		margin-right: 4px;
	}
}
.cut__play{
	i{
		@include s(cutplay);
	}
}
.cut__share{
	i{
		@include s(cutshare);
	}
}
.cut__export{
	i{
		@include s(cutexport);
	}
}

// outside of columns stuff
// ===========================
.filename{
	display: block;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #464646;
	background: #2D2D2D;
	.filename__title{
		color: #777;
		font-size: 12px;
		display: inline-block;
	}
	.filename__label{
		font-size: 11px;
		text-transform: uppercase;
		color: #777;
		background: #000000;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		line-height: 1;
		display: inline-block;
		padding: 3px 3px 4px 5px;
		cursor: pointer;
		i{
			@include s(filenamei);
			display: inline-block;
			margin-right: 3px;
			&.is-active{
				@include transform(rotate(180deg));
			}
		}
	}

}

















/* global timeline
---------------------------------------- */

.rough__bottom{
	height: $bottom;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%; 
}
.panel_navigation{
	overflow:hidden;
	}
.globalTimeline{
	width: auto;
	margin: 0 10px;
	border-bottom:1px solid #464646;
	position: relative;
	z-index: 2000;
	margin-top: 7px;
	}
.globalTimeline__track{
	height:3px;
	width:100%;
	background:#555;
	position: absolute;
	bottom: 0;
	}
	.globalTimeline__currenttime{
		display:block;
		background:#c2c2c2;
		height:100%;
		position:relative;
		}
	.globalTimeline__theredthing{
		position:absolute;
		bottom:0;
		z-index:100;
		right:-11px;
		height:42px;
		width:10px;
		border-left:1px solid #cf0808;
		cursor:pointer;
		background: rgba(#000, .3)
		}
		.globalTimeline__theredthing:hover{
			background:rgba(255,0,0,0.3);
			}
	.globalTimeline__filmstrip{
		margin:7px 0px 11px 0px;
		}
		.globalTimeline__filmstrip img{
			display:block;
			width:100%;
			height:28px;
			}
	.globalTimeline__range{
		height:26px;
		border:5px solid yellow;
		border-radius:4px;
		position:absolute;
		bottom:6px;
		right:0;
		margin-right:-50%;
		-webkit-border-image: url(../img/range.png) 7 / 7px repeat repeat;
		border-image: url(../img/range.png) 7 / 7px repeat repeat;
		cursor:move;
		}
		.globalTimeline__range:before{
			content:' ';
			width:12px;
			height:10px;
			left:50%;
			top:-8px;
			margin-left:-6px;
			@include s(rangetoparr);
			position:absolute;
			}	
.globalTimeline__zoom{
	margin-left:10px;
	position:relative;
	top:-4px;
	z-index:1000;
	white-space: nowrap;
	}
.globalTimeline__zoomicon{
	vertical-align:middle;
	display:inline-block;
	@include s(zoom);
	}
.globalTimeline__zoomicon1{
	@include s(zoombig);
	display: inline-block;
	vertical-align: middle;
}
.globalTimeline__zoomaction{
	text-align: right;
	display: block;
	padding-right: 20px;

	span{
		border-bottom: 1px dotted #999;
		font-size: 11px;
		color: #999999;
		cursor: pointer;
	}
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 11px;
	height: 11px;
	border-radius: 40px;
	border:1px solid #838383;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#000000));
	}

/* localTimeline
---------------------------------------- */
.localTimeline{
	display:block;
	width:auto;
	margin: 0 10px;
	position:relative;
	overflow: hidden;
	}
.localTimeline img{
	width:100%;
	display:block;
	}
.localTimeline__filmstrip{
	width:100%;
	}
	.localTimeline__theredthing{
		position:absolute;
		left:400px;
		border-left:1px solid #cf0808;
		background:rgba(0,0,0,.4);
		width:2px;
		height:1000px;
		z-index:1000;
		cursor:move;
		}
.localTimeline__waveform{
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 100%;
	bottom: 0;
}
.wraptimecodes{
	position: relative;
	padding-top: 9px;
	.globalTimeline__zoom{
		float: right;
		padding-top: 5px;
	}
}



