.body-waveform{
	overflow: auto;
}
.waveform{
	height: 240px;
	position: relative;
	width: 100%;
	
	border-bottom: 1px solid #3D3D3D;
	box-shadow:0 0 10px rgba(#000, .6);
	background: #000;
	margin-bottom: 20px;
	&:before, &:after{
		position: absolute;
		content: ' ';
		height: 100%;
		right: 0;
		width: 50px;
		z-index: 20;
	}
	&.is-lefthidden:before{
		right: auto;
		left: 0;
		@include background-image(linear-gradient(left, rgba(#000, .9), rgba(#000, 0)));
	}
	&.is-righthidden:after{
		@include background-image(linear-gradient(left, rgba(#000, 0), rgba(#000, .9)));
	}
	.conversation-meta{
		position: absolute;
		left: 29%;
		width: 260px;
		bottom: 4px;
		background: transparent;
		border-style: none;
		z-index: 200;
	}
	.waveform__leftrange, .waveform__rightrange{
		position: absolute;
		top: 0;
		height: 100%;
		width: 1px;
		bottom: 0;
		z-index: 10;
		display: none;
		background: #353535;
		.is-viewrange &{
			display: block;
		}
		i{
			position: absolute;
			top: 45%;
			margin-top: -45px;
			cursor: move;
		}
		&:before{
			position: absolute;
			width: 1000px;
			background: rgba(#000, .5);
			height: 100%;
			content:' ';
		}
	}
	.waveform__rightrange{
		border-left: 1px solid #4E4E4E;
		border-right: 1px solid #424242;
		&:before{
			left: 2px;
		}
		i{
			left: 0;
			@include s(rth);
		}
	}
	.waveform__leftrange{
		border-right: 1px solid #4E4E4E;
		border-left: 1px solid #424242;
		&:before{
			right: 2px;
		}
		i{
			right: 0;
			@include s(lth);
		}

	}
	.waveform__waveform{
		width: 100%;
		display: block;
		opacity: 1;
// 		debub only
		position: absolute;
		left: 0;
		top: 31px;
	}
	.timeline{
		top: 100px;
		position: absolute;
		left: 0;
		width: 100%;
		.timeline__zoom{
			@include box-sizing(border-box);
			border: 7px solid yellow;
			-webkit-border-image: url(../img/range.png) 7 / 7px repeat repeat;
			border-image: url(../img/range.png) 7 / 7px repeat repeat;
			height: 17px;
			width: 100px;
			position: absolute;
			right: -20px;
			top: -6px;
			cursor: move;
		}
	}
	.waveform__title{
		z-index: 30;
		position: absolute;
		top: 6px;
		left: 10px;
		color: #777777;
		font-size: 11px;
		text-decoration: none;
	}
	.waveform__zoom{
		position: absolute;
		bottom: 15px;
		left: 16px;
		z-index: 30;
		i{
			@include s(zoom);
			vertical-align: middle;
			display: inline-block;
			margin-right: 5px;
			position: relative;
			top: -2px;
		}
		input{
			vertical-align: middle;
		}
	}
	.waveform__meta{
		position: absolute;
		right: 10px;
		top: 6px;
		color: #AAAAAA;
		font-size: 11px;
		z-index: 50;
		span{
			margin-left: 1em;
		}
	}
	.waveform__video{
		position: absolute;
		right: 55px;
		bottom: 10px;
		@extend %button;
		border-radius: 3px;
		z-index: 50;
		i{
			@include s(waveformvideo);
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
			position: relative;
			top: -2px;
		}
	}
	.track{
		height: 5px;
		width: 100%;
		position: absolute;
		top: 100px;
		left: 0;
		background: #8C8C8C;
		@include background-image(linear-gradient(#9F9F9F, #393939));
		z-index: 10;
		.track__current{
			position: absolute;
			left: 0;
			top: 0;
			height: 5px;
			display: block;
			background: #858585;
			@include background-image(linear-gradient(#D1D1D1, #858585));
			z-index: 20;
			&:before{
				position: absolute;
				right: 0;
				height: 5px;
				width: 1px;
				background: #D5D5D5;
				z-index: 1000;
				content: ' ';
			}
		}
		.track__filmstrip{
			position: absolute;
			top: 6px;
			left: 0;
			width: 100%;
			//debug debug
			img{
				width: 100%;
				height: 26px;
				display: block;
			}
		}
		.track__redthing{
			border-left: 1px solid #C8010F;
			background: rgba(#000, .3);
			width: 10px;
			margin-right: -10px;
			height: 1000px;
			position: absolute;
			right: 0;
			top: -200px;
			cursor: pointer;
			z-index: 100;
		}
		.track__zoom{
			

		}
	}
}
textarea{
	resize:vertical;
}
.waveform__comments{
// 	margin-left: 29%;
// 	margin-right: 15%;
// 	float: left;
// 	width: 100% - 29% - 15% - 3%;
	.conversation{
		box-shadow: inset 0 -10px 10px -10px rgba(#000, .3);
		padding-left: 0;
		.comment__input textarea, .commentedit__input{
			background: rgba(#fff, .1) !important;
		}
	}
	.comment_add{
		padding: 8px 0;
	}
	.comment__waveform{
		position: absolute;
		right: 0px;
		top: 13px;
		width: 336px;
		.comment__waveformtime{
			font-size: 11px;
			color: #A0A2A4;
			position: absolute;
			right: 3px;
			top: 3px;
		}
		.comment__waveformwaveform{
			width: 100%;
			display: block;
			height: 37px;
		}
		.comment__waveform{
			@extend %button;
			width: 27px;
			height: 22px;
			padding: 0;
			border-radius: 3px;
			position: absolute;
			top: 8px;
			i{
				display: inline-block;
				@include s(control_playgo);
				position: absolute;
				top: 4px;
				left: 10px;
			}
			&.is-playing{
				i{
					@include s(control_play);
					top: 3px;
					left: 8px;
				}
			}
		}
	}
	.comments__meta{
		background: transparent;
		position: relative;
		margin: 0 -20px;
		padding: 0 20px 0 0;
		&:before, &:after{
			content:' ';
			position: absolute;
			right: 0;
			top: -1px;
			width: 40px;
			height: 1px;
			background: red;
			z-index: 20;
			@include background-image(linear-gradient(left, #595959, #333333));
		}
		&:after{
			left: 0;
			@include background-image(linear-gradient(left, #333333, #595959));
		}
	}
	.comments__update{
		width: 214px;
		height: 20px;
		text-align: left;
		padding-left: 44px;
		margin-left: 0;
		position: relative;
		left: -24px;

		&.is-active{
			background-image: none;
			background-color: transparent;
			background: url(../img/icons/green.png) no-repeat 0 0;
			@include background-size(100%, 100%)
		}
	}
	.comments__sort{
		margin-right: 4px;
		select{
			opacity: 0;
			position: absolute;
			-webkit-appearance:none;
			left: 0;
			right: 0;
			width: 100%;
			top: 0;
			height: 100%;
			z-index: 3;
		}
	}
}
.conversations{
	clear: both;
}
.waveform__comments{
	float: left;
	width: 100% - 29% - 15% - 3%;
}
.waveform__player{
	float: left;
	width: 26%;
	@include box-sizing(border-box);
	padding-left: 15px;
}
.waveform__likes{
	float: right;
	width: 14%;
}
.icon-like{
	@include sized-sprite($icons,like);
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.icon-dislike{
	@include sized-sprite($icons,dislike);
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.addreply{
	@extend %button;
	text-decoration: none;
	i{
		display: inline-block;
		position: relative;
		top: 3px;
		@include sized-sprite($icons, addcomment);
		margin-right: 5px;
	}
}
.waveform__player{
	.controls{
		margin-bottom: 16px;
	}
	.timecode{
		display: block;
		float: none;
		margin: 16px 0;
		.timecode__label{
			font-size: 12px;
		}
		.timecode__value{
			font-size: 18px;
		}
	}
}
.is-timecode_sampleVIEW, .is-timecode_standartVIEW,
.is-timecode_frameVIEW, .is-timecode_tapeVIEW{
	display: none;
}

//viewing different timecodes globally
.is-timecode_tape .is-timecode_tapeVIEW,
.is-timecode_frame .is-timecode_frameVIEW,
.is-timecode_standart .is-timecode_standartVIEW,
.is-timecode_sample .is-timecode_sampleVIEW
{
	display: block;
}