html,body{
	height: 100%;
	position: relative;
	background: #333;
}
$width: 322px;
$bottom: 222px;
$subnavheight: 85px;
// layout
.icon-info{
	@include s(infoicon);
	display: inline-block;
}
%scroll{
	overflow: hidden;
	overflow-y: scroll;
  	overflow-x: hidden;
	/* Let's get this party started */
	&::-webkit-scrollbar {
	    width: 6px;
	}
	 
	/* Track */
	&::-webkit-scrollbar-track {

	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: #2B2B2B; 
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: #2B2B2B; 
	}
}
.rough{
	position: absolute;
	bottom: 0;
	top: 33px;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #212121;
	.rough__full{
		right: 0;
		position: absolute;
		top: 9px;
		text-align: right;
		.rough__fullicon{
			display: inline-block;
			@include s(fullscreen);
			margin-right: 14px;
			cursor: pointer;
			vertical-align: middle;
		}
		i{
			@include s(rr);
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			&.is-active{
				@include transform(rotate(180deg));
			}
		}
	}
	.rough__left{
		//@extend %scroll;
		position: absolute;
		left: -($width);
		top: 0;
		bottom: $bottom;
		width: $width;
		background: #333333;
		@include transition(all .3s ease-in-out);
		border-right: 1px solid #464646;
		box-shadow: 10px 0 10px rgba(#000, .2);
	}
	.rough__right{
		padding-top: 10px;
		//@extend %scroll;
		position: absolute;
		right: -($width);
		width: $width;
		bottom: $bottom;
		top: 0;
		background: #333333;
		@include transition(all .3s ease-in-out);
		border-left: 1px solid #464646;
		box-shadow: -10px 0 10px rgba(#000, .2);
	}
	.rough__content{
		@extend %scroll;
		position: absolute;
		bottom: $bottom;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		background: #212121;

		@include transition(all .3s ease-in-out);
		.rough__contentv{
			height: 100%;
			width: 100%;
			display: table;
			img{
				
			}
		}
		.rough__contentv1{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
	&.is-withleft{
		left: 0;
		.rough__left{
			left: 0;
		}
		.rough__content{
			left: 0;
		}
		.rough__content{
			left: $width;
		}
	}
	&.is-withright{
		.rough__right{
			right: 0;
		}
		.rough__content{
			right: $width;
		}
		.rough__full{
			right: $width;
		}
	}
	.rough__togglevideocontrols{
		opacity: 1;
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -50px;
		background: #000000;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		height: 20px;
		line-height: 20px;
		font-size: 11px;
		color: #999;
		@include transform(translate(0, 20px));
		padding: 0 5px;
		cursor: pointer;
		z-index: 300;
		i{
			@include s(arr-up);
			margin-right: 5px;
			display: inline-block;
			position: relative;
			top: -1px;
		}
	}
	&.is-toggledcontrols .rough__togglevideocontrols i{
		@include transform(rotate(180deg));
	}
	&.is-hiddenbottom{
		.rough__bottom{
			height: 170px !important;
			@include transition(all .3s ease-in-out);
			z-index: 100000;
		}
		.rough__left,.rough__right,.rough__content{
			bottom: 170px;
		}
	}
	&.is-fullscreencutlist{
		.rough__right{
			bottom: 0;
			right: 0;
			width: 100%;
			@include transition(all .3s ease-in);
			z-index: 100;
		}
		.rough__left{
			@include transform(translate(-350px, 0));
		}
		.rough__bottom{
			@include transform(translate(0, $bottom));
			@include transition(all .3s ease-in-out);
		}
		.rough__togglevideocontrols{
			@include transition(all .3s ease-in-out);
			@include transition-delay(.4s);
			opacity: 1;
			@include transform(translate(0, 0));
		}
		.videopreview{
			display: block;
		}
		.is-hiddenbottom{
			
		}
	}
	&.is-toggledcontrols{
		.rough__bottom{
			@include transform(translate(0, 0));
			@include transition(all .3s ease-in-out);
			z-index: 500;
		}
		.rough__togglevideocontrols{
			@include transition-delay(.4s);
			@include transform(translate(0, -($bottom)));
		}
		&.is-hiddenbottom{
			.rough__togglevideocontrols{
				@include transform(translate(0, -170px));
			}
		}
	}
	
	&.is-videopreview{
		.rough__contentv1{
			position: absolute;
			top: 300px;
			left: 300px;
			box-shadow:0 0 20px 6px rgba(#000, .8);
			position: absolute;
			z-index: 10000;
			cursor: move;
			width: 250px;
			*{
				margin: 0;
				padding: 0;
			}
		}
		.rough__content{
			overflow: visible;
		}
	}

}


// for debug only
.rough__content img{
	display: block;
	width: 100%;
	margin-top: 20px;
}
.rough__videopreview{
	box-shadow:0 0 20px 6px rgba(#000, .8);
	position: absolute;
	right: 250px;
	top: 160px;
	z-index: 1000;
	cursor: move;
	img{
		display: block;
	}
}

// files
// ===========================
.rough__left{
	padding: 10px;
	@include box-sizing(border-box);
}
.searchbox{
	padding: 0 0 15px 0;
	width: 100%;
	@include box-sizing(border-box);
	input{
		width: 100%;
		display: block;
		box-shadow: inset 0 3px 3px rgba(#000, .6);
		border: 1px solid #000;
		padding: 4px;
		border-radius: 10px;
	}
}
.roughnav{
	height: $subnavheight - 20px;
	position: absolute;
	padding: 10px;
	top: 0;
	right: 0;
	left: 0;
	background: #333;
	box-shadow:0 10px 10px rgba(#000, .3);
	.searchbox{
		padding-bottom: 4px;
	}
	.cutnav__back{
		margin-top: -10px;
	}
	.cutnav{
		margin-bottom: 5px;
	}
	.roughnav__head{
		font-size: 11px;
		text-transform: uppercase;
		color: #aaaaaa;
		font-weight: normal;
		margin-bottom: 10px;
		i{
			@include s(fileicon);
			vertical-align: middle;
			margin-right: 6px;
			display: inline-block;
			position: relative;
			top: -2px;
		}
	}
	.roughnav__nav{
		float: right;
		width: 190px;
		text-align: right;
		position: relative;
		top: -3px;
		a{
			color: #777777;
			font-size: 12px;
			text-decoration: underline;
			margin-right: 6px;
			vertical-align: middle;
		}
		.roughnav__viewlist, .roughnav__viewgrid{
			display: inline-block;
			border: 1px solid #202020;
			@include background-image(linear-gradient( #484848, #2E2E2E));
			vertical-align: middle;
			width: 33px;
			height: 16px;
			padding-top: 2px;
			text-align: center;
			cursor: pointer;
			&.is-active, &:hover{
				@include background-image(linear-gradient( #2E2E2E, #484848));
			}
			i{
				display: inline-block;
			}
		}
		.roughnav__viewgrid{
			border-left: none;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			i{
				@include s(viewgrid);
				position: relative;
				top: -1px;
			}
		}
		.roughnav__viewlist{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			i{
				@include s(viewlist);
			}
		}
	}
	.is-fullscreencutlist &{
		box-shadow:none;
		height: auto;
		border-bottom: 1px solid #464646;
	}
}
.roughcontent{
	position: absolute;
	top: $subnavheight;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 3px 10px 10px 10px;
	@extend %scroll;
}
.rfiles__head{
	font-size: 11px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-weight: normal;
	margin-bottom: 10px;
	i{
		@include s(fileicon);
		vertical-align: middle;
		margin-right: 6px;
		display: inline-block;
		position: relative;
		top: -2px;
	}
}
.rfiles__nav{
	float: right;
	width: 190px;
	text-align: right;
	position: relative;
	top: -3px;
	a{
		color: #777777;
		font-size: 12px;
		text-decoration: underline;
		margin-right: 6px;
		vertical-align: middle;
	}
	.rfiles__viewlist, .rfiles__viewgrid{
		display: inline-block;
		border: 1px solid #202020;
		@include background-image(linear-gradient( #484848, #2E2E2E));
		vertical-align: middle;
		width: 33px;
		height: 16px;
		padding-top: 2px;
		text-align: center;
		cursor: pointer;
		&.is-active, &:hover{
			@include background-image(linear-gradient( #2E2E2E, #484848));
		}
		i{
			display: inline-block;
		}
	}
	.rfiles__viewgrid{
		border-left: none;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		i{
			@include s(viewgrid);
			position: relative;
			top: -1px;
		}
	}
	.rfiles__viewlist{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		i{
			@include s(viewlist);
		}
	}
}
.rfiles{
	&.is-fileview{
		.rfile{
			display: inline-block;
			vertical-align: top;
			width: 31%;
			text-align: center;
			border-style: none;
			padding-bottom: 14px;
			padding-right: 2%;
			@include box-sizing(border-box);
			.rfile__pic img,.rfile__meta{
				display: none;
			}
			.rfile__title{
				@include prevent-text();
				max-height: 3em;
				overflow: hidden;
				white-space: normal;
				text-align: left;
			}


			.rfile__length{
				float: none;
				width: auto;
				display: block;
				text-align: left;
			}
			.rfile__pic{
				display: inline-block;
				position: relative;
			}
			&.is-videofile{
				.rfile__pic{
					@include s(rvideo);
					-webkit-mask-box-image:none;
					&:before, &:after{
						display: none;
					}
				}
				&:hover, &.is-active{
					.rfile__pic{
						@include s(rvideoh);
					}
				}
			}
			&.is-audiofile{
				.rfile__pic{
					@include s(raudio);
					-webkit-mask-box-image: none;
					&:before, &:after{
						display: none;
					}
				}
				&:hover, &.is-active{
					.rfile__pic{
						@include s(raudioh);
					}
				}
			}
		}
	}
}
.rfile{
	border-bottom: 1px solid #424242;
	padding-bottom: 13px;
	margin-top: 13px;
	position: relative;
	vertical-align: top;
	.rfile__pic{
		margin-top: 3px;
		position: relative;
		
	}
	
	&.rfile_plain{
		.rfile__pic{
			float: left;
			margin-right: 10px;
			width: 72px;
			height: 28px; 
			img{
				width: 72px;
				display: block;
			}
		}
		&.is-active{
			.rfile__pic{
				box-shadow: 0 0 10px rgba(#000, .9);
				outline: 1px solid #999837;
				border-radius: 2px;
			}
		}
	}
	.rfile__title, .rfile__filename{
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		color: #fbfbfb;
		font-size: 11px; 
		white-space:nowrap;
	}

	input.rfile__title{
		background: transparent;
		box-shadow: inset -2px 2px 3px rgba(#000, .2);
		color: #ffffff;
		border: 1px solid #444444;
		padding: 2px;
		position: relative;
		left: -3px;
		-webkit-appearance:none;
	}
	.rfile__actions{
		float: right;
		color: #999;
		font-size: 11px;
		text-shadow: 0 -1px 2px rgba(#000, .2);
		width: 200px;
		text-align: right;
		&>div{
			margin-left: 10px;
			display: inline-block;
			cursor: pointer;
		}
		&>div:before{
			margin-right: 3px;
			display: inline-block;
			content: ' ';
		}
		.rfile__delete{
			&:before{
				@include s(rfiledelete);
			}
		}
		.rfile__rename{
			&:before{
				@include s(rfilerename);
			}
		}
	}
	.rfile__length{
		//position: absolute;
		//bottom: 13px;
		right: 0;
		float: right;
		margin-top: 17px;
		font-size: 11px;
		color: #cccccc;
// 		float: none;
// 		text-align: right;
// 		margin-bottom: -14px;
	}
	.rfile__meta{
		font-size: 11px;
		margin-top: 2px;
		color: #999;
		padding-left: 19px;
		position: relative;
		display:table;
		&:before{
			content: ' ';
			@include s(infoicon);
			position: absolute;
			left: 0;
			top: 1px;
		}
		span{
			margin-right: 10px;
		}
	}
	&.rfile_alt{
		.rfile__length{
			color: #ccc;
		}
		.rfile__title{
			color: #fff;
		}
		.rfile__filename{
			color: #999999;
		}
		.rfile__pic{
			//margin-right: -10px;
			height: 40px;
			@extend %teeth;
			
// 			img{
// 				box-shadow:0 0 4px rgba(#000, .3);
// 				display: block;
// 				//width: 100%;
// 			}
		}
		&.is-active{
			.rfile__pic:before{
				@include background-image(linear-gradient(#FFFD56, #FFB940));
			}
		}
	}

	.rfile__started, .rfile__finished{
		display: none;
	}
	.is-fullscreencutlist &{
		display: inline-block;
		padding: 0;
		border-style: none;
		margin-top: 30px;
		margin-right: 10px;
		cursor: pointer;
		position: relative;
		.rfile__title, .rfile__length, .rfile__meta,.rfile__rename, .rfile__filename, .rfile__actions{
			display: none;
		}
		.rfile__actions{
			display: block;
			position: absolute;
			bottom: -11px;
			right: 10px;
			@include transition(all .2s linear);
			opacity: 0;
		}
		.rfile__started, .rfile__finished{
			display: block;
			position: absolute;
			top: -16px;
			font-size: 9px;
			color: #363636;
			display: inline-block;
			font-family: Tahoma,sans-serif;
			@include box-sizing(border-box);
			padding: 0 3px;
			line-height: 11px;
		}
		.rfile__started{
			@include s(rfilestart);
			left: 0;	
		}
		.rfile__finished{
			@include s(rfilefinish);
			right: 0;	
			text-align: right;
		}
		.rfile__pic{
			//box-shadow:0 0 6px rgba(#000, 1);
			margin: 0;
			float: none;
			width: auto;
			height: auto;
			&:after{
				border-style: none;
				left: 4px;
				right: 4px;
			}
		}
		.rfile__length{
			display: block;
			position: absolute;
			bottom: 3px;
			left: 0;
			padding-left: 19px;
			opacity: 0;
			left: 10px;
			height: 16px;
			z-index: 200;
			text-shadow:0 0 2px rgba(#000,1);
			@include transition(all .2s linear);
			&:before{
				@include s(infoicon);
				position: absolute;
				left: 0;
				top: 1px;
				display: inline-block;
				content: ' ';
			}
		}
		&:hover{
			.rfile__length{
				left: 4px;
				opacity: 1;
				bottom: 3px;
			}
			.rfile__actions{
				right: 0;
				opacity: 1;
			}
		}
	}
	&.is-more{
		.rfile__more{
			display: block;
		}
	}
	.rfile__more{
		display: none;
		margin: 0 -10px;
		padding: 0 10px;
		background: #202023;
		position: absolute;
		left: 0px;
		right: 0px;
		z-index: 200;
		top:38px;
		opacity: 1;
		.rfile__meta{
			margin-bottom: 6px;
		}
		.rfile__moredescr{
			padding: 4px 0;
			font-size: 13px;
			color: #aaaaaa;
		}
		.rfile__moremeta{
			margin-top: 6px;
			background: #EAEAEA;
			box-shadow:inset 0 0 10px rgba(#000, .3), 0 0 10px rgba(#000, .5);
			margin: 0 -10px;
			padding: 4px 10px;
			@include background-image(linear-gradient(top, #FAFAFA 0%, #ECECEC 15%, #ECECEC 85%,  #CFCFCF 100%)); 
			
		}
		.rfile__camera{
			display: inline-block;
			vertical-align: top;
			span{
				display: block;
				text-transform: uppercase;
				font-size: 9px;
				color: #444;
				padding-bottom: 4px;
			}
			b{
				font-family: "cpmono", monospace;
				font-size: 18px;
				font-weight: normal;
			}
		}
		.rfile__model{
			@extend .rfile__camera;
			margin-left: 10px;
		}
		.rfile__lens{
			@extend .rfile__camera;
			float: right;
		}
		.rfile__moremetabot{
			border-top: 1px solid #D2D2D2;
			padding-top: 5px;
			font-size: 11px;
			color: #444444;
			span{
				display: inline-block;
				margin-left: 10px;
			}
			strong{
				font-size: 14px;
				font-weight: normal;
				color: #e2e2e2;
				display: inline-block;
				line-height: 1;
				padding: 2px 6px;
				background: #434343;
				font-family: "cpmono", monospace;
				border-radius: 4px;
			}
		}
	}
}

.cutnav{
	height: 32px;
	line-height: 32px;
	background: #212124;
	margin: 0 -10px;
	padding: 0 10px;
	margin-bottom: 10px;
	.videopreview{
		float: right;
		display: none;
	}
	.cutnav__back{
		i{
			@include s(back);
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;
			opacity: .7;
		}
		color: #777777;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 5px;
	}
	.cutnav__nav{
		float: right;
		width: 100px;
		text-align: right;
		position: relative;
		top: -1px;
		a{
			color: #777777;
			font-size: 12px;
			text-decoration: underline;
			margin-right: 6px;
			vertical-align: middle;
		}
		.cutnav__viewlist, .cutnav__viewgrid{
			
			//border: 1px solid #202020;
			@extend %button;
			display: inline-block;
			padding: 0;

			vertical-align: middle;
			width: 33px;
			height: 16px;
			padding-top: 2px;
			text-align: center;
			cursor: pointer;
			&.is-active, &:hover, &.is-pressed{
				//@include background-image(linear-gradient( #2E2E2E, #484848));
			}
			i{
				display: inline-block;
			}
		}
		.cutnav__viewgrid{
			border-left: none;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			i{
				@include s(viewgrid1);
				position: relative;
				top: -6px;
			}
		}
		.cutnav__viewlist{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			i{
				@include s(viewlist1);
				position: relative;
				top: -4px;
			}
		}
	}
}
.sublist__title{
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	margin-bottom: 15px;
	text-shadow: 0 1px 0 black;
	-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%);
	.is-fullscreencutlist &{
		width: auto;
		display: inline-block;
	}
}
.sublist{
	padding-bottom: 10px;
	
	&.is-active{
		.sublist__title{
			color: #EFEBAC;
			-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.7) 70%)
		}
		.rfile__pic{
			img{
				border: 1px solid yellow;
			}
		}
	}
	input.sublist__title{
		background: transparent;
		padding: 4px;
		display: block;
		width: 100%;
		position: relative;
		left: -5px;
		@include box-sizing(border-box);
		border: 1px solid #444444;
		box-shadow:inset -2px 2px 2px rgba(#000, .2);
	}
	.sublist__back{
		i{
			@include s(back);
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;
			opacity: .7;
		}
		color: #777777;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 5px;
	}
	.cut__icons{
		margin-bottom: 0;
	}
	.is-fullscreencutlist &{
		.sublist__title{
			display: inline-block;
			margin-bottom: 0;
		}
		.sublist__header{
			padding-bottom: 3px;
			border-bottom: 1px solid #484848;
		}
		.cut__icons{
			display: inline-block;
			margin: 0;
		
			
			position: relative;
			top: -1px;
		}
	}
} 
.is-fullscreencutlist{
	.cut__icons{
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 0;
		position: relative;
		top: -1px;
	}
	.sublist__title{
		display: inline-block;
		margin-bottom: 0;
	}
}
.videopreview{
	cursor: pointer;
	i{
		@include s(videopreview);
		margin-right: 5px;
		display: inline-block;
		position: relative;
		top: 2px;
	}
	span{
		font-size: 11px;
		color: #999999;
		border-bottom: 1px dotted #999999;
		&:active{
			color: #eee;
		}
	}
	&.is-off{
		i{
			@include s(videopreviewoff);
			top: 4px;
		}
	}
}
// cut lists
// ===========================
.rough__right{
	padding: 10px;
	padding-top: 0;
	@include box-sizing(border-box);
}
.icon-mycut{
	display: inline-block;
	@include s(mycut);
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.icon-sharedcut{
	display: inline-block;
	@include s(sharedcut);
	margin-right: 3px;
	position: relative;
	top: 2px;
}
.cutlist{
	border-bottom: 2px solid #484848;
	margin-bottom: 7px;
	position: relative;
}
.cutlist__header{
	font-size: 11px;
	color: #aaa;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.cutlist__toggle{
	position: absolute;
	right: 15px;
	display: inline-block;
	@include s(cutmin);
	top: 12px;
	cursor: pointer;
	opacity: .5;
	margin-top: 3px;
	&.is-active{
		@include s(cutplus);
		margin-top: 0;
	}
	&:hover{
		opacity: 1;
	}
}
.cutlist__nav{
	padding-bottom: 7px;
	margin-bottom: 8px;
	font-size: 11px;
	padding-top: 2px;
}
.cutlist__createnew{
	color: #999;
	text-shadow: 0 -1px 2px rgba(#000, .5);
	cursor: pointer;
	i{
		display: inline-block;
		@include s(createnew);
		margin-right: 5px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
}
.cutlist__navother{
	float: right;
	text-align: right;
	a{
		opacity: .5;
		@include transition(all .1s linear);
		color: #999;
		text-shadow: 0 -1px 2px rgba(#000, .5);
		text-decoration: none;
		margin-left: 10px;
		&:hover, &.is-active{
			opacity: 1;
		}
		&:before{
			display: inline-block;
			content: ' ';
			vertical-align: middle;
			margin-right: 6px;
			position: relative;
			top: -1px;
		}
	}
	@each $s in clone, merge, delete{
		.cutlist__#{$s}:before{
			@include s(cutlist#{$s});
		}
	}
}
.cut{
	margin-bottom: 18px;
	.cut__title{
		font-size: 16px;
		font-weight: normal;
		color: #ffffff;
		margin-bottom: 15px;
		text-shadow: 0 1px 0 black;
		-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%)
	}
	.cut__pics{
		position: relative;
		height: 83px;
		margin-right: -10px;
		&.cut__pics_small{
			height: 53px;
		}
		div{
			@extend %teeth;
			position: absolute;
			left: 0;
			top: 0;
			//box-shadow:0 0 6px rgba(#000, 1);
			display: block;
			z-index: 10;
			&:before{
				display: none;
			}

		}
		div+ div{
			@include transform(rotate(3deg));
			z-index: 9;
		}
		div+div+div{
			z-index: 8;
			@include transform(rotate(-4deg));
			left: -4px;
		}
	}
	.cut__meta{
		float: right;
		text-align: right;
		color: #999;
		font-size: 11px;
		b{
			display: block;
			color: #ccc;
			font-weight: normal;
		}
	}
	.cut__created{
		text-align: left;
		color: #999;
		font-size: 11px;
		display: block;
		span{
			display: block;
		}
	}
	&.is-selected{
		.cut__pics{
			div:first-child{
				&:before{
					@include background-image(linear-gradient(top, #FEFF63 0%, #FFBA48 100%));
					display: block;
				}
			}
		}
		.cut__title{
			color: #EFECAF;
			-webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.7) 70%)
		}
	}
}
.cut__icons{
	font-size: 11px;
	color: #acacac;
	text-shadow: 0 -1px 1px rgba(#000, .4);
	margin: -10px 0 20px;
	div{
		display: inline-block;
		cursor: pointer;
		margin-right: 14px;
	}
	i{
		display: inline-block;
		margin-right: 4px;
	}
}
.cut__play{
	i{
		@include s(cutplay);
	}
}
.cut__share{
	i{
		@include s(cutshare);
	}
}
.cut__export{
	i{
		@include s(cutexport);
	}
}

// outside of columns stuff
// ===========================
.filename{
	display: block;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #464646;
	background: #2D2D2D;
	.filename__title{
		color: #777;
		font-size: 12px;
		display: inline-block;
	}
	.filename__label{
		font-size: 11px;
		text-transform: uppercase;
		color: #777;
		background: #000000;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		line-height: 1;
		display: inline-block;
		padding: 3px 3px 4px 5px;
		cursor: pointer;
		i{
			@include s(filenamei);
			display: inline-block;
			margin-right: 3px;
			&.is-active{
				@include transform(rotate(180deg));
			}
		}
	}

}

















/* global timeline
---------------------------------------- */

.rough__bottom{
	height: $bottom;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%; 
	@include transition(all .3s ease-in-out);
}
.panel_navigation{
	overflow:hidden;
	}
.globalTimeline{
	width: auto;
	margin: 0 10px;
	border-bottom:1px solid #464646;
	position: relative;
	z-index: 2000;
	margin-top: 7px;
	}
.globalTimeline__track{
	height:3px;
	width:100%;
	background:#555;
	position: absolute;
	bottom: 0;
	}
	.globalTimeline__currenttime{
		display:block;
		background:#c2c2c2;
		height:100%;
		position:relative;
		}
	.globalTimeline__theredthing{
		position:absolute;
		bottom:0;
		z-index:100;
		right:-11px;
		height:42px;
		width:10px;
		border-left:1px solid #cf0808;
		cursor:pointer;
		background: rgba(#000, .3)
		}
		.globalTimeline__theredthing:hover{
			background:rgba(255,0,0,0.3);
			}
	.globalTimeline__filmstrip{
		margin:7px 0px 11px 0px;
		}
		.globalTimeline__filmstrip img{
			display:block;
			width:100%;
			height:28px;
			}
	.globalTimeline__range{
		height:26px;
		border:5px solid yellow;
		border-radius:4px;
		position:absolute;
		bottom:6px;
		right:0;
		margin-right:-50%;
		-webkit-border-image: url(../img/range.png) 7 / 7px repeat repeat;
		border-image: url(../img/range.png) 7 / 7px repeat repeat;
		cursor:move;
		}
		.globalTimeline__range:before{
			content:' ';
			width:12px;
			height:10px;
			left:50%;
			top:-8px;
			margin-left:-6px;
			@include s(rangetoparr);
			position:absolute;
			}	
.globalTimeline__zoom{
	margin-left:10px;
	position:relative;
	top:-4px;
	z-index:1000;
	white-space: nowrap;
	}
.globalTimeline__zoomicon{
	vertical-align:middle;
	display:inline-block;
	@include s(zoom);
	}
.globalTimeline__zoomicon1{
	@include s(zoombig);
	display: inline-block;
	vertical-align: middle;
}
.globalTimeline__zoomaction{
	text-align: right;
	display: block;
	padding-right: 20px;

	span{
		border-bottom: 1px dotted #999;
		font-size: 11px;
		color: #999999;
		cursor: pointer;
	}
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 11px;
	height: 11px;
	border-radius: 40px;
	border:1px solid #838383;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#000000));
	}

/* localTimeline
---------------------------------------- */
.localTimeline{
	display:block;
	width:auto;
	margin: 0 10px;
	position:relative;
	overflow: hidden;
	}
.localTimeline img{
	width:100%;
	display:block;
	}
.localTimeline__filmstrip{
	width:100%;
	}
	.localTimeline__theredthing{
		position:absolute;
		left:400px;
		border-left:1px solid #cf0808;
		background:rgba(0,0,0,.4);
		width:2px;
		height:1000px;
		z-index:1000;
		cursor:move;
		}
.localTimeline__waveform{
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 100%;
	bottom: 0;
}
.wraptimecodes{
	position: relative;
	padding-top: 9px;
	.globalTimeline__zoom{
		float: right;
		padding-top: 5px;
	}
}
.sortby{
	display: inline-block;
	position: relative;
	cursor: pointer;
	.sortby__value{
		display: inline-block;
		vertical-align: middle;
		font-size: 11px;
		color: #727272;
	}
	i{
		display: inline-block;
		@include s(arr-down);
		vertical-align: middle;
		opacity: .6;
		margin-left: 3px;
	}
	select{
		-webkit-appearance: none;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    opacity: 0;
	}
}

.toggletimecodes{
	opacity: 1;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	background: #000000;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	color: #999;
	@include transform(translate(0, 20px));
	@include transition(all .3s ease-in-out);
	padding: 0 5px;
	cursor: pointer;
	z-index: 300;
	i{
		@include s(arr-up);
		margin-right: 5px;
		display: inline-block;
		position: relative;
		top: -1px;
	}
	.rough__bottom:hover &{
		@include transform(translate(0, 0));
	}
}








// update CSS FROM OLES
.clip.rfile.current{
    opacity:1;
}

#cutlistName {
    text-transform: none;
    width: 100%;
    height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 8px 0 8px;
    color: #777;
    border: 1px solid #444;
    background: #363636;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 1px 0 black;
    -webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%);

}


.cutlist_actions a{
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 1px 0 black;
    -webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%);
}

.cutlist_actions {
    width: 96% ;
    padding: 5px;
    margin-bottom: 5px;
}


video.player { height:100%; display:none;}
video.is-current {display:block!important;}


.localTimeline {  height:80px; }
.localTimeline img { width: 100%;  }
.localTimeline__filmstrip { height:80px; width: 100%; }
.localTimeline__waveform {  height: 45px;  opacity: 0.7;}

.cutseparator{
	@include s(cutseparator1);
	display: inline-block;
	position: absolute;
	top: 0;
}
.cutseparatorsmall{
	@include s(cutseparatorsmall);
	display: inline-block;
	position: absolute;
	top: 0;
}



